<h1 id = "test">Contact Us</h1>
<div class = "container">
<%= form_for :contact,  url: contacts_path do |f| -%>
  <p>
    <%= f.label :Name %><br>
    <%= f.text_field :title, :class=>"form-control" %>
  </p>
 
  <p>
    <%= f.label :Email %><br>
    <%= f.text_field :email, :class=>"form-control" %>
  </p>

   <p>
    <%= f.label :Message %><br>
    <%= f.text_area :body , :class=>"form-control"%>
  </p>
 
  <p>
    <%= f.submit :Contact, :class=>"btn btn-default"%>
  </p>
<% end %>
</div>
<hr>
